@media all and (width<= 600px) and (width>=300px) {
  #links-other-pages {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;

    & nav {
      width: 100%;
    }

    & nav li {
      display: flex;
      padding: 2px;
    }
  }
}

header {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  position: relative;
}

#header-div {
  width: 300px;
  position: relative;
  margin-right: 0%;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-size: 13px;
}

#header-div span:not(.material-symbols-outlined) {
  padding: 0px 4px;
  font-family: sans-serif;

  & a {
    text-decoration: none;
    color: black;
  }
  & a:hover {
    text-decoration: underline;
  }
}

#header-div span:nth-child(2) {
  margin-right: 8%;
}

#header-div .sign-in {
  background-color: #1a73e8;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 96px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.25px;
  width: 96px;
  height: 36px;
  box-shadow: none;
  margin: 0 8px;
}

#header-div .sign-in:hover {
  background-color: #1b66c9;
  border-color: transparent;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}

#header-div .material-symbols-outlined:hover {
  background-color: #ebebeb;
  padding: 18px;
  border: none;
  border-radius: 50%;
}

main {
  position: relative;
}

main #main-img {
  text-align: center;
  margin-top: 15px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

#search-bar-div {
  height: 50px;
  border-radius: 25px;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #9aa0a6;
  line-height: 22px;

  display: flex;
  align-items: center;
  margin-top: 23px;
  flex-wrap: nowrap;
}

input[type="text"] {
  position: relative;

  border: none;
  width: 78%;
}

input[type="text"]:focus {
  outline: none;
}

#search-bar-div .material-symbols-outlined {
  margin-left: 3%;
  color: #9aa0a6;
  width: 30px;
}

#search-bar-div img {
  width: 24px;
  margin-right: 8px;
}
img[title="Search by voice"] {
  margin-left: 20%;
}

#search-bar-div:hover {
  box-shadow: 1px 1px 10px 0px #9aa0a6;
  border: 0px;
}

.btn-search,
.btn-lucky {
  cursor: pointer;
  border-radius: 7px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}

.btn-search:hover,
.btn-lucky:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

#main-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;
  margin-top: 20px;
  font-size: 14px;
}

.last-para {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 13px;
  color: #4d5156;
  /* height: 190px; */
}

.last-para a {
  text-decoration: none;
  color: #1a0dab;

  &:hover {
    text-decoration: underline;
  }
}

form {
  width: 90%;
  display: flex;
}

footer {
  position: relative;
  background-color: #70757a1c;
 
 margin-top: 14%;
 
}

footer div p {
  color: #70757a;
  margin-left: 15px;
  font-size: 15px;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  font-size: 15px;
  font-family: sans-serif;
  /* padding-bottom: 5px; */
 
  
}

#links-other-pages {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  & li {
    list-style-type: none;
    padding: 0 10px;
  }

  & li a {
    color: #70757a;
    font-size: 14px;
    font-family: sans-serif;
  }
  & li a:link {
    text-decoration: none;
  }
}

nav li a:hover {
  text-decoration: underline;
}


.para{
  position: absolute;
  /* margin-top: 10px; */
  font-size: 7px;
  opacity: 0.5;
  color: red;
  text-align: right;
  left: 5%;
  display: flex;
   
  
}